@page
@model IndexModel
@{
    ViewData["Title"] = "Pyx Performance Assistance";
}

<div class="row">
    <div class="col-md-3">
        <h2>Agreement:</h2>
        <p>I agree that I will:</p>
        <ul>
            <li>Only add content which is written by myself or that I have permission to share from the author</li>
            <li>Not add anything defamatory or illegal in nature</li>
        </ul>
        <p>
            <a asp-page="/Instruction" class="btn btn-default">I Agree!</a>
        </p>
    </div>
</div>
